* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-image: url("https://img.freepik.com/free-vector/space-background-with-stars-vector-illustration_97886-319.jpg?w=2000");
	background-size: cover;
	background-repeat: no-repeat;
}